<!DOCTYPE html>
<html>
  <head>
    <title>cloudkeys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">cloud<strong>keys</strong></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav hide">
            <li class="active"><a href="#">Home</a></li>
            <li><a id="importLink">Import</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="passwordRequest" class="container">
      <div class="row">
        <div id="searchbox" class="col-md-8 col-md-push-2">
          <input type="password" id="pw" placeholder="Password">
        </div>
      </div>
    </div>
    <div class="container hide">
      <div class="row" id="importContainer">
        <div id="importer" class="col-md-8 col-md-push-2">
          <textarea id="import"></textarea>
        </div>
        <div class="col-md-8 col-md-push-2">
          <button class="btn btn-primary">Import</button>
        </div>
      </div>
      <div class="row">
        <div id="searchbox" class="col-md-8 col-md-push-2">
          <input type="text" id="search" placeholder="Search">
        </div>
      </div>
      <div class="row">
        <div id="content" class="col-md-12" role="main" style="height: 1800px;">
          <div id="resultdescription" class="col-md-12">Search results: <span>0</span> items</div>
          <ul id="items">
          </ul>
        </div>
      </div>

    </div>
    <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
    <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
